@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$font-family: "Kumbh Sans", sans-serif;

// colors

$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desat-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

$white: hsl(0, 0%, 100%);

// Reset

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	font-size: 1.8rem;
	font-family: $font-family;
	color: $very-dark-desat-blue;
	background-color: $dark-cyan;
	line-height: 1.6;
	background-image: url("../images/bg-pattern-bottom.svg"),
		url("../images/bg-pattern-top.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: top 33rem right -40rem, bottom 32rem left -53rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1 {
	font-size: 2rem;

	span {
		color: $dark-grayish-blue;
		font-weight: 400;
	}
}

h1,
h2 {
	font-weight: 700;
	line-height: 1.2;
	margin: 10px 0;
}

h3 {
	font-size: 1.9rem;
}

/* p {
	margin: 10px 0;
} */

img {
	width: 100%;
}

$breakpoints-up: (
	"md": "750px",
	"ld": "1024px",
	"xd": "1376px",
);

$breakpoints-down: (
	"md": "750px",
	"ld": "1024px",
	"xd": "1376px",
);

@mixin breakpoint-up($size) {
	@media screen and (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}
@mixin breakpoint-down($size) {
	@media screen and (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

// 640px, 1024px, 1400px
$breakpoints-up: (
	/* 	"medium": "40em",
	"large": "64em",
	"xlarge": "87.5em", */ "medium": "640px",
	"large": "1024px",
	"xlarge": "1400px"
);

// 639px, 1023px, 1399px
$breakpoints-down: (
	/* 	"small": "39.9375em",
	"medium": "63.9375em",
	"large": "87.4375em", */
		"small": "639px",
	"medium": "1023px",
	"large": "1399px"
);

@mixin breakpoint-up($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

// Visibility
.hide-for-mobile {
	@include breakpoint-down(small) {
		display: none;
	}
}

.hide-for-desktop {
	@include breakpoint-up(medium) {
		display: none;
	}
}

/* Utilities */
.container {
	/* 	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.attribution {
	font-size: 11px;
	text-align: center;

	color: $dark-grayish-blue;

	a {
		color: $dark-grayish-blue;
	}
	animation: slideInFromBottom 500ms ease-in;
}

/* Text sizes */
.lead {
	font-size: 20px;
}

.sm {
	font-size: 1rem;
}

.lead {
	font-size: 2rem;
}

.lg {
	font-size: 3rem;
}

.xl {
	font-size: 4rem;
}

.text-center {
	text-align: center;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Margin */
.my {
	&-1 {
		margin: 1rem 0;
	}
	&-2 {
		margin: 1.5rem 0;
	}
	&-3 {
		margin: 2rem 0;
	}
	&-4 {
		margin: 3rem 0;
	}
	&-5 {
		margin: 4rem 0;
	}
}

.m {
	&-1 {
		margin: 1rem;
	}
	&-2 {
		margin: 1.5rem;
	}
	&-3 {
		margin: 2rem;
	}
	&-4 {
		margin: 3rem;
	}
	&-5 {
		margin: 4rem;
	}
}

/* Padding */
.py {
	&-1 {
		padding: 1rem 0;
	}
	&-2 {
		padding: 1.5rem 0;
	}
	&-3 {
		padding: 2rem 0;
	}
	&-4 {
		padding: 3rem 0;
	}
	&-5 {
		padding: 4rem 0;
	}
}

.p {
	&-1 {
		padding: 1rem;
	}
	&-2 {
		padding: 1.5rem;
	}
	&-3 {
		padding: 2rem;
	}
	&-4 {
		padding: 3rem;
	}
	&-5 {
		padding: 4rem;
	}
}
